.estilofuturodosite{
    background-color:rgb(18, 18, 107);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 40px;
    padding: 30px;
}

.estiloconteudocontato li{

    padding: 10px;
    margin: 8px;
}