/*---------------------------------------------Rodape---------------------------------------------*/

footer{
    
    background-color: rgb(18, 18, 107);
    
    color:white;

    display: flex;

    justify-content: center;

    margin: 15px;

    padding: 10px;

    justify-content: space-around;

}

footer a{

    color: white;
    
    
    text-decoration: none;

}